.all-item {
  padding-top: 40px;
  padding-bottom: 25px;

  font-family: $oswald;
}

.all-item__title-more {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $special-black;
  text-transform: uppercase;
}

.all-item__text-more {
  margin: 0;

  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $dark-grey;
}

.all-item__btn-more {
  background-color: $grey;

  font-size: 16px;
  line-height: 0px;
  font-weight: 400;
  color: $dark-grey;
  text-decoration: none;
  text-transform: uppercase;
}
