.catalog-item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 19px;
  padding-right: 18px;
  padding-bottom: 25px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    display: block;

    background-color: $grey;
  }

  @media (min-width: $tablet-width) {
    display: block;

    background-color: $grey;
  }
}

.catalog-item__info {
  max-width: 150px;
}

.catalog-item__img-link {
  width: 78px;
}

.catalog-item__title-link {
  line-height: 20px;
  font-weight: 400;
  color: $special-grey;
}


.catalog-item__btn-order {
  background-color: $green;

  line-height: 16px;
}
