.catalog-item {
  padding-top: 19px;
  padding-right: 18px;
  padding-bottom: 25px;
  padding-left: 20px;

  list-style: none;
}

.catalog-item__title-link {
  line-height: 20px;
  font-weight: 400;
  color: $special-grey;
}

.catalog-item__btn-order {
  background-color: $green;

  line-height: 0px;
}
