// Цвета
$black:#000000;
$border-grey:#cdcdcd;
$dark-grey:#444444;
$grey:#f2f2f2;
$green:#68b738;
$red:#ff8282;
$special-black:#111111;
$special-grey:#222222;
$white: #ffffff;


//Шрифты
$arial: "Arial", sans-serif;
$oswald: "Oswald", "Tahoma", sans-serif;
