.site-list__item {
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
}

.site-list__link {
  color: $black;
}

.site-list {
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}
